@import 'assets/styles/_variables.scss';
@import 'assets/styles/_typography.scss';
@import 'assets/styles/_header.scss';
@import 'assets/styles/_calculator-body.scss';
@import 'assets/styles/_button.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  font-family: $primary-font;
  min-height: 100vh;
}

main {
  padding: 25px 15px;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0px 25px 25px 25px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 25px;
  }
}
